<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
   
    </ion-buttons>
    <ion-title class="ion-text-center"><h1> Inicio de Sesión</h1></ion-title>

    <ion-buttons slot="end"> 
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="wrapper fadeInDown" >
<br/>
<br/>
<br/>
<br/>
<br/>

 <ion-list class="center">
  <ion-item>
    <ion-img class="fadeIn first" [src]="imgLogo" class="imig" ></ion-img> <br/>
  </ion-item>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-item class="fadeIn second" >
      <ion-input  
      label="Correo Electronico" labelPlacement="floating"
      placeholder="ingresa Correo "
      type="mail" [(ngModel)]="usuario.email"
      name="Correo"
      ></ion-input>
    </ion-item>

    <ion-item  class="fadeIn third"> 
      <ion-input   
      label="Contraseña" labelPlacement="floating"
      placeholder="ingresa Contraseña"
      [type]="showpassword ? 'text' :'password' " [(ngModel)]="usuario.password"
      name="password"
      required
      ></ion-input>
      <ion-icon slot="end" [name]="nameicon" (click)="togglePass()"></ion-icon>
    </ion-item>
 
    <ion-button 
            class="fadeIn fourth"
            expand="full" type="submit"
            [disabled]="formulario.invalid"
            color="primary"
           id="open-toast"
     >Ingresar</ion-button>
     
    

     <ion-button 
     class="fadeIn five ion-text-center"    
     (click)="onClick2()"
     expand="full" 
     color="danger"
    

>Registrar</ion-button>

     <ion-button 
     class="fadeIn five ion-text-center"    
     (click)="onClick3()"
     expand="full" 
     color="secondary"
     
     >Restablecer Contraseña</ion-button>
  </form>

  <ion-item >

</ion-item>



</ion-list>

 <ion-toast  [isOpen]="isToastOpen" [message]="errorMsj" [duration]="5000" (didDismiss)="setOpen(false)"></ion-toast>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">

      <ion-button id="popover-button">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>

<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">
          <ion-radio-group [value]="SistemMod" [(ngModel)]="SistemMod" (ionChange)="guardaenStoragedarkmode(SistemMod)">
            <ion-radio value="1">Modo Claro</ion-radio><br />
            <ion-radio value="2">Modo Obscuro</ion-radio><br />
            <ion-radio value="3">Definido Sistema</ion-radio><br />
          </ion-radio-group>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>